*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    border-bottom: 3px solid #8B5E3C;
    color: black;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 20px;
}



/* Logo */


#logo {
    display: flex;
    align-items: center;
}

#logo figure img {
    width: 100%;
    max-width: 128px;
    height: auto;
}

#logo h1 {
    font-weight: bold;
    margin-left: 10px;
}


/* Navbar */
#active a
{
    background-color: #EFDCAB;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    display: inline-block;
}

nav a:hover {
    background-color: #EFDCAB;
}

/* Body */

.hero {
    display: flex;
    align-items: center;
    max-width: auto;
    padding: 0 0 40px 40px;
    gap: 20px;
    margin-top: 20px; 
    margin-right: 40px;
    margin-bottom: 20px;
    border-bottom: 3px solid #8B5E3C;
}




/* Content Section */


.hero-content {
    flex: 1;
    text-align: left;
}

.intro {
    font-size: 54px;
    font-weight: bold;
    color: solid black;
    display: flex;
    align-items: center;
}

.intro::before {
    content: "→";
    font-size: 48px;
    margin-right: 10px;
}

.name {
    font-size: 54px;
    font-weight: bold;
    margin-top: 10px;
}


.role {
    font-size: 28px;
    font-weight: bold;
    margin-top: 5px;
}

.description {
    text-indent: 50px;
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.5;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.hero-image img {
    max-width: 400px;
    height: auto;
    border: 1px solid black;
}



/* Sample Works */

#Featured 
    {
        padding: 20px;
        text-align: center;
    }

#Featured h2 
    {
        padding: 10px;
        border-bottom: 2px solid black;
        margin: auto;
    }

.gallery 
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 40px;
        transition: opacity 0.3s ease-in-out, transform 1s ease-in-out; 
    }

.gallery h2 
    {
        width: 100%;
        text-align: center;
    }

.gallery figure 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        text-align: center;
        transition: 0.3s ease-in-out;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; 
    }

.gallery img:hover 
    {
        transform: scale(1.05);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
    

.gallery img 
    {
        position:relative;
        border: 1px solid black;
        width: 100%;
        max-width: 445px;
        height: 300px;
        transition: 0.3s ease-in-out;
    }
    

.gallery figcaption 
        {
        font-weight: bold;
        background-color: #EFDCAB; /* #EFDCAB */
        border: 1px solid black;
        text-align: center;
        margin-top: 10px;
    }



/* Footer */
footer {
    background-color: #8B5E3C;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 3px solid #8B5E3C;
}

.footer-content
{
    display:inline-flex;
    align-items: center;
}

.footer-content img
{
    width: 20px;
    max-width: 20px;
    height: auto;
    
}

.footer-content p
{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-weight: bold;
    margin-left: 10px;
}

.footer-bottom {
    border-top: 1px solid black;
    font-size: 14px;
    padding-top: 20px;
}